#voximplant_container video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
  }
  
  .modal-content-video {
    position: fixed;
    bottom: 0;
    background: transparent;
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
    border: none;
  }
  