



body {
  margin: 0;
}
.pagination {
  display: inline-block;
  padding-left: 15px;
  padding-right: 15px;
  cursor: pointer;
  float: right;
}

.pagination > li {
  display: inline-block;
  background-color: #fff;
  
}

.pagination > li > a {
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  
}

.pagination > li > a:hover:not(.active) {
  background-color: #00A99D;
  border-radius: 5px;
}

html body.fixed-navbar{
  padding-top: 4rem;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
